.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.otpContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50vh;
}

.resendOtp{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
